 <footer style="padding-left: 120px;padding-right: 120px;padding-top:20px;padding-bottom:20px" >
     <img class="card-img-top"
             src="{{ url_for('static', filename='assets/faster_Canary_logo_White-animation.gif')}}" alt="Card image cap" style="height: 80px; width: 280px"></a>
     <div class="col sqs-col-8 span-8">
         <div class="row sqs-row">
             <div class="col sqs-col-6 span-6">
                 <div>
                     <div></div>
                 </div>
             </div>
             <div>
                 <div>
                     <div>
                             <p style="text-align:right;white-space:pre-wrap;" class="sqsrte-small">Canary Global Inc. is a medical sensor technology company building revolutionary
                                 diagnostic platforms and services enabling accessible, real-time disease detection.
                            </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     </div>
     <div class="row sqs-row">
          <div class="col sqs-col-6 span-6">
             <div>
                 <div class="sqs-block-content">
                     <a href="https://www.canarydetect.com/about" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">About</p></a>
                     <a href="https://www.canarydetect.com/technology-overview" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">Technology</p></a>
                     <a href="https://www.canarydetect.com/testing-services" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center"> Physical Testing services</p></a>
                 </div>
             </div>
         </div>
         <div class="col sqs-col-6 span-6">
             <div>
                 <div class="sqs-block-content">
                      <a href="https://www.canarydetect.com/contact" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">Contact</p></a>
                      <a href="https://www.canarydetect.com/newsroom" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">Newsroom</p></a>

                 </div>
             </div>
         </div>
                <div class="col sqs-col-6 span-6">
             <div>
                 <div class="sqs-block-content">
                      <a href="https://www.canarydetect.com" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">Terms and conditions</p></a>
                      <a href="https://www.canarydetect.com" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">EULA</p></a>
                      <a href="https://www.canarydetect.com" style="color: #ffffff;text-decoration: none;background-color: transparent; }
                             a:hover {color: #ffffff;text-decoration: underline; }" ><p style="text-align:center">Privacy Policy</p></a>
                 </div>
             </div>
         </div>
         <div class="col sqs-col-6 span-6">
             <div>
                 <div class="sqs-block-content">
                     <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">info@canarydetect.com</p>
                     <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">5063 N Service Road, Suite 100,</p>
                     <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">Burlington, Ontario</p>
                     <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">877-814-4611</p>
                 </div>
             </div>
         </div>
     </div>
     <div>
         <div class="sqs-block-content">
             <p class="sqsrte-small" style="white-space:pre-wrap;"><strong>CANARY GLOBAL INC. </strong>| Saving lives through early disease detection</p>
             <p class="sqsrte-small" style="white-space:pre-wrap;">Disclaimer : Some Canary products are in development and pending regulatory approval. They are currently NOT AVAILABLE FOR SALE. Please contact us to learn more</p>
              </div>
    </div>
  </div>

</section>


</footer>